{
    "useTabs": true,
    "singleQuote": true,
    "trailingComma": "none",
    "semi": false,
    "printWidth": 100,
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ],
    "plugins": [
        "prettier-plugin-astro"
    ]
}