<div class="image-dev">
  <svg width="556.07237" height="223.68213" viewBox="0 0 556.07237 223.68213">
    <defs>
      
    </defs>
    <title>DEV</title>

        <path
          class="letter"
          d="M189.87006,107.098q0,55.99721-30.82921,86.2915Q128.21,223.68159,72.36859,223.68213H0V0H77.417q53.85213,0,83.15449,27.53914Q189.86736,55.07935,189.87006,107.098Zm-62.72933,2.14182q0-30.75132-12.16293-45.59261Q102.81487,48.80858,78.02927,48.80588H60.4339V174.11093H73.89815q27.54023,0,40.39167-15.98792Q127.14074,142.13725,127.14073,109.23978Z"
        ></path>
        <path
          class="letter"
          d="M333.79811,223.68213H200.99562V0H333.79811V48.50083H261.42952V83.6894h67.013v48.50029h-67.013v42.22736h72.36859Z"
        ></path>
        <path
          class="letter"
          d="M488.44715,0h67.62522L482.78648,223.68213H411.6424L338.66263,0H406.594l30.44628,113.3709q9.484,37.79174,10.404,52.6314,1.06766-10.70746,4.28363-26.77489,3.21273-16.06365,5.66068-25.24426Z"
        ></path>

  </svg>
</div>
<div class="band"></div>

<style>
  .band {
    width: 100%;
    min-height: 8px;
    position: relative;
    z-index: 5;
    background-color: #111;
    transform-origin: left center;
    animation: elastic-band 3s 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    @media (max-width: 768px) {
      min-height: 5px;
    }
  }
  @keyframes elastic-band {
    0% {
      transform: scaleX(0);
    }
    50% {
      transform: scaleX(100%);
    }
    80% {
      transform: translateX(80%);
    }
    100% {
      transform: translateX(100%);
    }
  }
</style>

<style>
  .image-dev {
    position: relative;
    text-align: center;
    line-height: 0;
    z-index: 2;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #ffc107;
    border-top: 1px solid #ffc107;
    transform: translateY(-100%);
    animation: dev-slide-down 1s 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
      forwards;

    @media (max-width: 768px) {
      max-width: 100%;
    }
    & svg {
      max-width: 50vw;
      aspect-ratio: 375/150;
      fill: #F5ECD5;
      
      @media (max-width: 768px) {
        max-width: 100%;
        height: auto;
      }
    }
    & .letter{
      --translateY:0; 
      transform-origin: top center;

    } 
    & .letter.animated {
      animation: dev-letter 0.75s cubic-bezier(.36,.41,0,.66);
    }
  }
  @keyframes dev-slide-down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes dev-letter {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(var(--translateY));
    }
    100% {
      transform: translateY(0);
    }
    
  }

</style>

<script>
  const letters = document.querySelectorAll(".letter");
  function animateLetter() {
    const letter = letters[Math.floor(Math.random() * letters.length)];
    const randomTime = Math.random() * (20000 - 5000) + 5000;
    const translateY = Math.floor(Math.random() * (95 - 45 + 1)) + 45;
    setTimeout(() => {
      (letter as HTMLElement).style.setProperty("--translateY", `${translateY}%`);
      letter.classList.add("animated");
      setTimeout(() => {
        letter.classList.remove("animated");
        animateLetter();
      }, 1700);
    }, randomTime);
  }

  document.addEventListener("DOMContentLoaded", () => {
    animateLetter();
  });
</script>