---
import faceMask from "@assets/face-mask-bn.png";
const { responsive } = Astro.props;
---

<div
  class={responsive === "mobile" ? "box-face_mask --mobile" : "box-face_mask"}
>
  <img class="face-mask" src={faceMask.src} alt="" />
</div>

<style>
  .box-face_mask {
    
    position: absolute;
    top: -114px;
    right: 5px;
    width: 210px;
    overflow: hidden;
    z-index: 0;
    @media (max-width: 768px) {
      display: none;
    }
    img {
      --initial-up:60%;
      display: block;
      transform: translateY(var(--initial-up));
      transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &.animated {
      img {
        transform: translateY(var(--random-y, 0));
       /* animation: slide-up 4s cubic-bezier(0.075, 0.82, 0.165, 1) both; */
      }   
    }
    &.--mobile {
      display: none;
      @media (max-width: 768px) {
        display: block;
        position: absolute;
        bottom: 0;
        z-index: 2;
        top: auto;
      }
    }
  }
  @keyframes slide-up {
    0% {
      transform: translateY(var(--initial-up));
    }
    100% {
      transform: translateY(var(--random-y, 0));
    }
  
  }
</style>

<script>
  const faceMasks = document.querySelectorAll(".box-face_mask");
  function animateFaceMask(faceMask) {
    if (!faceMask) return;
   
    // Animacion de subida de la mascarilla
    // 0 o 10 % de altura aleatoria
    const arrayRandomY = [0];
    const randomY = arrayRandomY[Math.floor(Math.random() * arrayRandomY.length)];
    faceMask.style.setProperty("--random-y", `${randomY}%`);

   // Animacion de desaparecido de la mascarilla
    const randomTime = Math.random() * (20000 - 5000) + 10000;
    console.log(randomTime);

    setTimeout(() => {
      faceMask.classList.add("animated");

        setTimeout(() => {
        faceMask.classList.remove("animated");
        animateFaceMask(faceMask)
      }, 1000 );

    }, randomTime * 1.5 );
      
    
    
  }


  document.addEventListener("DOMContentLoaded", () => {
    
    faceMasks.forEach((faceMask) => {
      const faceMaskImg = faceMask.querySelector("img");
      faceMaskImg?.addEventListener("mouseover", () => {
        faceMask.classList.add("animated");
      });
      faceMaskImg?.addEventListener("mouseleave", () => {
        faceMask.classList.remove("animated");
      });
      animateFaceMask(faceMask);
    });
  });

</script>
