---
import faceMask from "@assets/face-mask-bn.png";
const { responsive } = Astro.props;
---

<div
  class={responsive === "mobile" ? "box-face_mask --mobile" : "box-face_mask"}
>
  <img class="face-mask" src={faceMask.src} alt="" />
</div>

<style>
  .box-face_mask {
    
    position: absolute;
    top: -114px;
    right: 5px;
    width: 210px;
    overflow: hidden;
    z-index: 0;
    @media (max-width: 768px) {
      display: none;
    }
    img {
      display: block;
      transform: translateY(100%);
    }
    &.animated {
      img {
        animation: slide-up 4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
      }
    }
    &.--mobile {
      display: none;
      @media (max-width: 768px) {
        display: block;
        position: absolute;
        bottom: 0;
        z-index: 2;
        top: auto;
      }
    }
  }
  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    20% {
      transform: translateY(var(--random-y, 0));
    }
    80% {
      transform: translateY(var(--random-y, 0));
    }
    100% {
      transform: translateY(100%);
    }
  }
</style>

<script>
  function animateFaceMask(faceMask) {
    if (!faceMask) return;

    // Animacion de subida de la mascarilla
    // 0 o 10 % de altura aleatoria
    const arrayRandomY = [0, 5];
    const randomY = arrayRandomY[Math.floor(Math.random() * arrayRandomY.length)];
    faceMask.style.setProperty("--random-y", `${randomY}%`);


    // Animacion de desaparecido de la mascarilla
    const randomTime = Math.random() * (10000 - 5000) + 5000;
  
    setTimeout(() => {
      faceMask.classList.add("animated");

      faceMask.addEventListener(
        "animationend",
        () => {
          faceMask.classList.remove("animated");
          animateFaceMask(faceMask); // Re-trigger the animation
        },
        { once: true }
      );
    }, randomTime);
  }

  document.addEventListener("DOMContentLoaded", () => {
    const faceMasks = document.querySelectorAll(".box-face_mask");
    faceMasks.forEach((faceMask) => {
      animateFaceMask(faceMask);
    });
  });
</script>
