---
const language = Astro.props.language;

---

<div class="typewriter">

    <h1>{ language === "es" ? "Roberto Stringa | +10 Años de Experiencia" : "Roberto Stringa | +10 Years of Experience" }</h1> 
</div>

<style>

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    font-size: 21px;
      font-weight: 150;
      text-align: center;
      letter-spacing: 1px;
  color: #111;
  font-weight: 200;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgba(21, 21, 21, 0.1); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  padding-right: 5px;
  visibility: hidden;
  animation: 
    typing 3.5s 1s steps(30, end) forwards,
    blink-caret .5s step-end 20;
    @media (max-width: 680px) {
      font-size: 18px;
      letter-spacing: 0;
    }
}

/* The typing effect */
@keyframes typing {
  from { width: 0; visibility: visible;  }
  to { width: 100%; visibility: visible; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(250, 198, 100) }
}

</style>