---
import Layout from '../layouts/Layout.astro';
import Section1 from '../components/Section1.astro';
import Section2 from '../components/Section2.astro';
---

<Layout>
	<Section1 />
	<Section2 />
	<div class="section"> …</div>
	<div class="section"> …</div>
</Layout>
