<footer>
    <div class="container">
    <p>© 2025 by Roberto Stringa</p>
    </div>
</footer>

<style>
    footer {
        
        background-color: #264662;
        color: #fff;
        padding: 20px 0;
        text-align: center;
        position: relative;
        overflow: hidden;
        p {
            font-size: 16px;
            margin: 0 10px;
            color:#fff;
            opacity: 0.75;
        }
    }
</style>