---
import photo from "@assets/face-mask.webp";
import Github from "@components/section3/Github.astro";
import LinkedIn from "@components/section3/Linkedin.astro";
import ArrowDown from "@components/section2/ArrowDown.astro";
import MoreInfo from "@components/section3/MoreInfo.astro";
import Envelop from "@components/section3/Envelop.astro";
const language = Astro.props.language;
---

<section class="section section3" id="contact">
  <div class="vertical-lines"></div>
  <div class="grid">
    <div class="col-left">
      <p>
        {
          language === "es" ? (
            <>
              El código es creación,
              <br />
              el código es arte...
            </>
          ) : (
            <>
              Code is creation,
              <br />
              Code is art...
            </>
          )
        }
      </p>
    </div>
    <div class="col-right">
      <div class="title">{language === "es" ? "CONTACTO" : "CONTACT"}</div>
      <div class="content">
        <!-- Card -->
        <div class="card">
          <div class="photo">
            <img src={photo.src} alt="Roberto Stringa" />
          </div>
          <div class="text">
            <span class="name"
              >Roberto Stringa<i
                >{
                  language === "es"
                    ? "Diseñador/Desarrollador FrontEnd"
                    : "Designer / FrontEnd Dev"
                }</i
              ></span
            >
            <span class="place">Buenos Aires, Argentina</span>
            <span class="email">robertostringa@gmail.com</span>
          </div>
          <div class="social">
            <a
              href="https://github.com/rstringa"
              title="GitHub"
              target="_blank"
            >
              <Github />
            </a>
            <a
              href="https://www.linkedin.com/in/robertostringa/"
              title="LinkedIn"
              target="_blank"
            >
              <LinkedIn />
            </a>
          </div>
          <div class="more-info">
            <span>
              {
                language === "es"
                  ? "más sobre mí"
                  : "more about me"
              }  
            </span><ArrowDown />
          </div>
        </div>
        <!-- Card After -->
        <div class="card-after">
          <p>
            {
              language === "es"
                ? "¿Eres una agencia de desarrollo web o un profesional del rubro?"
                : "Are you a web development agency or a professional in the industry?"
            }
          </p>
        </div>
        <!-- Form -->
        <div class="form">
          <div class="box-envelop"><Envelop/></div>
          <h4><ArrowDown />{language === "es" ? "Trabaja conmigo" : "Work with me"}</h4>
          <form id="myForm">
            <label for="name">{language === "es" ? "Nombre" : "Name"}</label>
            <input type="text" id="name" name="name" required 
            placeholder={language === "es" ? "Tu nombre" : "Your name"} 
            />
            <label for="email">{language === "es" ? "Email" : "Email"}</label>
            <input type="email" id="email" name="email" required 
            placeholder={language === "es" ? "Tu email" : "Your email"} 
            />
            <label for="subject"
              >{language === "es" ? "Mensaje" : "Message"}</label
            >
            <textarea id="text_area" name="text_area" required
            placeholder={language === "es" ? "Déjame tu mensaje..." : "Leave your message..."}
            ></textarea>
            <p class="mini">{language === "es" ? "Todos los campos son requeridos." : "Complete all fields please."}</p>
            <input
              type="submit"
              
              value={language === "es" ? "Ok, enviar" : "Ok, I send"}
              class="btn-send"
            />
            <div class="message"></div>
          </form>
        </div>
        <!-- Side Text -->
        <div class="side-text"><span>Dev</span></div>
      </div>
    </div>
  </div>
  <MoreInfo language={language} />
</section>

<style is:inline>
  .section3 {
    --lines: #ffffff45;
    --bg-color: #143d60;
    background: var(--bg-color);
    /* border-top: 1px solid var(--lines); */
    padding: 0 0 40px 0;
    height: fit-content;
    min-height: 100vh;
    position: relative;
    overflow: clip;
  }
  .vertical-lines {
    position: absolute;
    z-index: 10;
    top: 0;
    left: calc(50% + 7px);
    transform: translateX(-50%);
    width: 1250px;
    height: 100%;
    border-left: 1px solid var(--lines);
    border-right: 1px solid var(--lines);
    pointer-events: none;
  }
  .grid {
    position: relative;
    display: grid;
    grid-template-columns: 145px 1fr;
    width: 1250px;
    max-width: 100%;
    left: 7px;
    margin: 0 auto;
    height: 100%;
    & .col-left {
      position: relative;
      border-right: 1px solid #ffffff45;
      display: flex;
      justify-content: center;
      align-items: end;
      gap: 10px;
    }
    & .col-right {
      position: relative;
      padding: 60px;
      max-width: 100%;
      @media (max-width: 767px) {
        width: 100vw;
        padding: 90px 30px 60px 30px;
        transform: translateX(-155px);
      }
    }
  }
  .col-left {
    & p {
      padding: 0 10px;
      font-size: 15px;
      color: #ff9800;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0;
    }
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      width: 7px;
      height: 50px;
      background: #ffffff45;
      bottom: 0;
      right: -8px;
      animation: up 5s 10s ease-out infinite;
    }
  }
  .col-right {
    & .title {
      font-size: 50px;
      color: #ffffff;
      margin-bottom: 20px;
      font-weight: 900;
      letter-spacing: 0;
      text-transform: uppercase;
    }
    & .content {
      & .card {
        display: grid;
        grid-template-columns: 150px 1fr;
        align-items: center;
        gap: 30px;
        border: 1px solid #ffffff45;
        padding: 10px 30px 0 30px;
        border-radius: 8px;
        /* overflow: hidden; */
        position: relative;
        z-index: 5;
        background: #143d60;
        &:hover {
          --band-base: #143c6000;
          --band1: color-mix(in srgb, var(--band-base), #ffffff 2%);
          background: repeating-linear-gradient(
            45deg,
            var(--band-base),
            var(--band-base) 5%,
            var(--band1) 5%,
            var(--band1) 10%
          );
          background-size: 200px 200px;
          animation: move-it 3s 0.5s linear infinite;
        }
        @media (max-width: 950px) {
          grid-template-columns: 1fr;
        }
        & .photo {
          aspect-ratio: 1 / 1;
          display: flex;
          align-items: end;
          overflow: hidden;
          opacity: 0.8;
          position: relative;
          z-index: 1;
          @media (max-width: 950px) {
            aspect-ratio: auto;
            max-width: 140px;
          }
          & img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
            transform: translateY(70%);
            transition: transform 0.75s 0.25s
              cubic-bezier(0.075, 0.82, 0.165, 1);
          }
        }
        & .photo.animated {
          & img {
            transform: translateY(0%);
          }
        }
        & .text {
          position: relative;
          z-index: 1;
          padding-bottom: 10px;
          @media (max-width: 767px) {
            order: -1;
            margin-top: 30px;
          }
          & span {
            display: block;
            line-height: 1.5;
            color: #ffffff;
            font-weight: 200;
            letter-spacing: 0.5px;
            text-transform: none;
            font-size: 14px;
            &.name {
              font-size: 19px;
              font-weight: 600;
              text-transform: uppercase;
              margin-bottom: 20px;
              letter-spacing: 0.5px;
              & i {
                background: #fca728;
                display: block;
                width: fit-content;
                border-radius: 25px;
                color: #111;
                padding: 0 10px;
                position: relative;
                left: -10px;
                margin-top: 0px;
                font-size: 16px;
                font-style: normal;
                font-weight: 200;
                text-transform: uppercase;
                letter-spacing: 1px;
                white-space: nowrap;
              }
            }
          }
        }
        & .social {
          display: flex;
          gap: 10px;
          position: absolute;
          z-index: 1;
          bottom: 20px;
          right: 30px;
          @media (max-width: 767px) {
            right: auto;
            left: 0;
            bottom: -50px;
          }
          & a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #ffffff45;
            color: #143d60;
            font-size: 20px;
            transition: background-color 0.3s ease;
            &:hover {
              background-color: #ff9500;
            }
            @media (max-width: 767px) {
              width: 40px;
              height: 40px;
            }
          }
        }
        & .more-info {
          position: absolute;
          z-index: 5;
          top: 30px;
          right: 30px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: fit-content;
          padding: 5px 12px;
          border-radius: 25px;
          background-color:#fca728cc;
          color: #143d60;
          font-size: 14px;
          line-height: 1;
          text-transform: uppercase;
          font-weight: 400;
          transition: background-color 0.3s ease;
          @media (max-width: 767px) {
            top: auto;
            bottom: -45px;
            right: 0;
          }
          & span { 
            margin-right: 6px;
          }
          &:hover {
            background-color: #ff9500;
          }
          & svg  { 
            transform: rotate(-90deg); 
            width: 19px;
          }
        }
      }
    }
  }
  /* form:has(#email:user-invalid) label[for="email"] { 
  color: #fe5500;
  } */
  .form *::placeholder {
        font-family: inherit;
        font-size: 14px;
        color:var(--white-50);
        opacity: 0.25;} 
  .form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 20px;
    width: 100%;
    position: relative;

    @media (max-width: 767px) {
      margin-top: 50px;
      margin-bottom: 40px;
    }
    & h4 {
      font-size: 21px;
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
      opacity: 1;
      margin-bottom: 30px;
      margin-left: 8px;
      position: relative;
      & svg {
        width: 36px;
        height: auto;
        color: #fca728;
        position: absolute;
        top: -3px;
        left: -70px;
        transform: rotate(-90deg);
      }
    }
    & label {
      font-size: 21px;
      font-weight: 200;
      color: #fff;
      opacity: 0.8;
      margin-bottom: 5px;
      margin-left: 8px;
      text-transform: capitalize;
    }
   
    & input {
      font-size: 18px;
      border: 1px solid #ffffff45;
      padding: 16px 30px 16px 20px;
      border-radius: 8px;
      background-color: #143d60;
      color: #fff;
      font-size: 16px;
      margin-bottom: 26px;
      width: 100%;
      max-width: 710px;
     
      &:focus {
        outline: none;
        border-color: #ffffff75;
        /* box-shadow: 0 0 0 1px #ff9800;  */
      }
      &:is(:user-valid) {
        border-color: #02d622e6;
      } 
      &:is(:user-invalid) {
        border-color: #fe5500d5;
      } 
    }
    & textarea {
      font-family: inherit;
      font-size: 18px;
      border: 1px solid #ffffff45;
      padding: 16px 30px 16px 20px;
      border-radius: 8px;
      background-color: #143d60;
      color: #fff;
      font-size: 16px;
      width: 100%;
      max-width: 710px;
      min-height: 150px;
      &:focus {
        outline: none;
        border-color: #ffffff75;
        /* box-shadow: 0 0 0 1px #ff9800;  */
      }
      &:is(:user-valid) {
        border-color: #02d622e6;
      } 
      &:is(:user-invalid) {
        border-color: #fe5500d5;
      }  
    }
    & .mini {
      font-size: 14px;
      font-weight: 200;
      line-height: 1.5;
      margin-left: 8px;
      color: #fff;
      opacity: 0.5;
      margin-bottom: 30px; 
      letter-spacing: 1px;
    }
    & #myForm {
      display: contents;
    }

    & .btn-send {
      font-size: 21px;
      font-weight: 600;
      text-transform: capitalize;
      background-color: #ff9800;
      color: #111;
      padding: 16px 30px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:disabled {
        background-color: #ff9800a0;
        cursor: not-allowed; 
      }
      @media (max-width: 767px) {
        font-size: 21px;
      }
      &:hover {
        background-color: #ffc107;
      }
    }
    & .message {
      margin-top: 10px;
      color: #ff9800;
      font-size: 16px;
    }
    & .box-envelop {
      position: absolute;
      bottom: 40px;
      left: 50%;
      z-index: 0;
      opacity: 0;
      &.animated {
        animation:
        rotate-envelop 0.75s 0.25s linear infinite, 
        move-envelop 2s 0.10s ease-out;
      }
      & svg {
        width: 80px;
        height: auto; 
        object-fit: contain;
        fill:#ff9800;
      }
    }
  }
  .side-text {
    display: grid;
    align-items: start;
    justify-content: center;
    position: absolute;
    z-index: 0;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100%;
    text-transform: uppercase;
    overflow: hidden;
    /* --band-base: #143c6000;
    --band1: color-mix(in srgb, var(--band-base), #ffffff 2%);
    background: repeating-linear-gradient(
      45deg,
      var(--band-base),
      var(--band-base) 5%,
      var(--band1) 5%,
      var(--band1) 10%
    );
    background-size: 200px 200px;
    animation: move-it 1s linear infinite; */
    span {
      display: block;
      font-size: 130px;
      font-weight: 900;
      color: #54718b;
      opacity: 0.5;
      letter-spacing: -7px;
      rotate: -90deg;
      margin: 0 auto;
      line-height: 0;
      /* transform: translatey(-50px); */
      transform: translate(-51%, -130px);
    }
  }
  .card-after {
    padding-left: 8px;
    & p {
      font-size: 16px;
      color: #fff;
      opacity: 0.8;
      letter-spacing: 0.025rem;
      font-weight: 200;
    }
    @media (max-width: 767px) {
      transform: translateY(60px);
      & p {
        font-size: 15px;
      }
    }
  }

  /* SPANISH */
  body.es {
    .col-right {
      .card {
        i {
          text-transform: capitalize !important;
        }
      }
    }
  }

  @keyframes move-envelop {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    50% {
      bottom: 400px;
    }
    100% {
      opacity: 0;
      bottom: 40px;
    }
  }
    @keyframes rotate-envelop {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>

<script>
  const moreInfo = document.querySelector(".more-info");
  const boxMoreInfo = document.querySelector(".box-more-info");
  const close = document.querySelector(".close");

  moreInfo?.addEventListener("click", (e) => {
    e.preventDefault();
    boxMoreInfo?.classList.add("showing");
  });
  close?.addEventListener("click", (e) => {
    e.preventDefault();
    boxMoreInfo?.classList.remove("showing");
  });
</script>

<script>
  const photo = document.querySelector(".photo");
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        setTimeout(() => {
          photo?.classList.add("animated");
        }, 1000);
      } else {
        photo?.classList.remove("animated");
      }
    });
  });

  if (photo) {
    observer.observe(photo);
  }
</script>

<!-- RESEND FORM-->
<script>
  import { resendTemplate } from "../components/ResendTemplate";

  const message = document.querySelector(".message");
  const myForm = document.getElementById("myForm") as HTMLFormElement;
  const boxEnvelop = document.querySelector(".box-envelop");

  myForm.addEventListener("submit", async (e) => {
    e.preventDefault();


    // Obtener los valores de los campos
    const name = (document.getElementById("name") as HTMLInputElement).value;
    const email = (document.getElementById("email") as HTMLInputElement).value;
    const textArea = (
      document.getElementById("text_area") as HTMLTextAreaElement
    ).value;
    if (message) {
      try {
        const res = await fetch("/api/resendEmailJson", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            from: "FrontEnd-<onboarding@resend.dev>",
            to: "robertostringa@gmail.com",
            reply_to: `${email}`,
            subject: `FrontEnd Web`,
            html: resendTemplate(email, name, textArea),
            text: "Formato de texto",
          }),
        });

        if (res.ok) {
          // La solicitud fue exitosa
          const data = await res.json();
          message.innerHTML =
            "¡Great, thanks for your message! I’ll be in touch shortly.";
            boxEnvelop?.classList.remove("animated");
            boxEnvelop?.classList.add("animated");  
        } else {
          // La solicitud no fue exitosa
          message.innerHTML =
            "There was an error sending the request. Please try again.";
        }
      } catch (error) {
        // Error en la solicitud
        message.innerHTML =
          "There was an error sending the request. Please try again.";
      }
    }
  });
</script>
