<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preload" href="/fonts/OpenSans-variable.woff2" as="font" type="font/woff2" crossorigin="anonymous">
		<meta name="generator" content={Astro.generator} />
		<title>FrontEnd Web</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-variable.woff2') format('woff2');
    font-weight: 100 900; /* Rango de pesos variables */
    font-display: swap;
  }
  
  body {
    font-family: 'OpenSans', sans-serif;
  }
</style>
